[mysqld]
# 开启binlog
server-id = 1
log-bin = /var/log/mysql/mysql-bin.log
binlog_format = MIXED
# 自动删除7天之前的binlog
expire_logs_days = 7

# 开启慢查询日志配置
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow-queries.log
# 超过定义为慢查询
long_query_time = 4

# 日志输出方式
#log_output = FILE,TABLE
#
# 未使用索引的查询也被记录到慢查询日志中
#log_queries_not_using_indexes = 1
